* {
  font-family: sans-serif; }

h1,
h3 {
  color: #152235;
  text-align: center; }

.setup,
.combat {
  text-align: center; }

table {
  display: inline-block;
  text-align: left; }

thead {
  text-align: center; }

.confirm,
.attack,
.restart {
  display: block;
  margin: 0 auto; }

.combat {
  display: none; }

.done {
  display: none; }
